/* Your application styles go here */
.filterBar {
    background-color: #eee;
    margin-top: 10px;
    margin-bottom: -5px;
    border: 1px solid #ccc;
}

.tripInfo{
    margin-bottom: -25px;
}

.searchResults{

    position: absolute;
    z-index: 1000;
    margin-top: -23px;
    width: 90%;
    left: 16px;
    overflow: auto;
    max-height: 237px;

}

.searchField {
    font-size: 16px;
}

.frontPage {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}