<ion-view title="Destinations">
    <!--<ion-nav-buttons side="left">-->
        <!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
    <!--</ion-nav-buttons>-->
    <ion-content class="has-header">
        <loader item="cities"></loader>
        <ion-list ng-show="cities">
            <!--<ion-item class="item-icon-right" ng-repeat="city in cities" href="#/app/cities/{{city.id}}/transporters">-->
            <ion-item class="item-icon-right" ng-repeat="city in cities" href="#/app/trips/{{city.id}}">
                {{city.name}}
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
