<ion-view title="Results">
  <ion-content class="has-header">
    <h4 class="padding">Filter by transporter and price</h4>
    <div class="row">
      <div class="col col-50">
        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Lightsaber
            </div>
            <select>
              <option>Blue</option>
              <option selected>Green</option>
              <option>Red</option>
            </select>
          </label>
        </div>
      </div>
      <div class="col col-50">
        <label class="item-input-wrapper">
          <i class="icon ion-ios7-search placeholder-icon"></i>
          <input type="search" placeholder="Search destination">
        </label>
      </div>
    </div>
    <ion-list>
      <!--<ion-item class="item-icon-right" href="#/app/cities/{{test}}/transporters/1">-->
        <!--Transporter 1-->
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
      <!--</ion-item>-->
      <ion-item class="item-icon-right" ng-repeat="trip in trips">
        <div class="card">
          <div class="item item-divider">
            I'm a Header in a Card!
          </div>
          <div class="item item-text-wrap">
            This is a basic Card with some text.
          </div>
          <div class="item item-divider">
            I'm a Footer in a Card!
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
