<ion-view title="Transporters">
  <ion-content class="has-header">
    <h4>Choose transporter to {{test}}</h4>
    <ion-list>
      <ion-item class="item-icon-right" href="#/app/cities/{{test}}/transporters/1">
        Transporter 1
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" href="#/app/cities/{{test}}/transporters/2">
        Transporter 2
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
