<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-assertive">
      <h1 class="title">Main Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/main">
          <i class="ion-home"></i>&nbsp;Home
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/cities">
          <i class="ion-earth"></i>&nbsp;Destinations
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/transporters">
          <i class="ion-model-s"></i>&nbsp;Transporters
        </ion-item>
      </ion-list>
    </ion-content>
    <div class="bar bar-footer bar-stable">
      <button class="button button-clear">Left</button>
      <div class="title">Title</div>
      <button class="button button-clear">Right</button>
    </div>
  </ion-side-menu>
</ion-side-menus>
