<ion-view title="Results">
    <ion-content class="has-header">
        <div class="">
            <label class="item item-input item-select">
                <div class="input-label">
                    Transporter
                </div>
                <select ng-model="transporterId">
                    <option value=""> -- All -- </option>
                    <option value="{{transporter.id}}" ng-repeat="transporter in transporters">
                        {{transporter.name}}
                    </option>
                </select>
            </label>
        </div>
        <div class="row">
            <div class="col">
                <ul class="">
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox">
                        </label>
                        Price
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul class="">
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox">
                        </label>
                        Time
                    </li>
                </ul>
            </div>
        </div>
        <div ng-repeat="trip in trips">
            <div class="list card">

                <div class="item item-avatar">
                    <img src="mcfly.jpg">
                    <h2>Trip destination</h2>
                    <p>Time</p>
                </div>

                <div class="item item-body">
                    <p>
                        Some information
                    </p>
                    <p>
                        <a href="#" class="subdued">5 Seats availible</a>
                        <a href="#" class="subdued">550 den</a>
                    </p>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
