<ion-view title="Trip to {{cityName}}">
    <ion-content class="has-header">
        <loader item="trips"></loader>
        <div ng-show="!hasData">
            <div class="card">
                <div class="item item-text-wrap">
                    There is no trip to {{cityName}} currently.
                </div>
            </div>
        </div>
        <span ng-show="trips">
            <div class="">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Transporter
                    </div>
                    <select ng-model="trId">
                        <option value=""> -- All -- </option>
                        <option value="{{transporter.id}}" ng-repeat="transporter in transporters">
                            {{transporter.name}}
                        </option>
                    </select>
                </label>
            </div>
            <div class="row filterBar">
                <div class="col"></div>
                <div class="col padding"><h4>Sort by: </h4></div>
                <div class="col">
                    <label class="checkbox">
                        <input ng-click="predicate = 'time'; reverse=!reverse" ng-model="byTime" name="sort" type="checkbox">Time
                    </label>
                </div>
                <div class="col">
                    <label class="checkbox">
                        <input ng-click="predicate = 'price'; reverse=!reverse" ng-model="byPrice" name="sort" type="checkbox">Price
                    </label>
                </div>
            </div>
            <div ng-animate="'animate'" ng-repeat="trip in trips | filter:{ transporter_id: trId } | orderBy: predicate:reverse">
                <div class="tripInfo">
                    <div class="list card ">
                        <div class="item item-avatar">
                            <img ng-src="{{trip.transporter.image_url}}">
                            <h2>{{trip.time}} - {{trip.transporter.name}}</h2>
                            <p>Total: {{trip.seats}} seats</p>
                            <h2>Price: {{trip.price}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </span>
    </ion-content>
</ion-view>